/* FIX ME */

.coursePageContainer {
  @apply pb-5
}

.coursePageContainer h1 {
  @apply text-3xl my-5 font-bold text-secondary-content
}

.coursePageContainer h2 {
  @apply text-2xl mt-5 mb-3 pb-3 border-b border-accent text-secondary-content tracking-wide
}

.coursePageContainer h3 {
  @apply text-xl my-2 text-secondary-content tracking-wide
}

.coursePageContainer h4 {
  @apply text-lg mt-3 mb-1 text-secondary-content font-bold tracking-wide
}

.coursePageContainer p {
  @apply py-3 text-secondary-content
}

.coursePageContainer ul {
  @apply py-1 text-secondary-content pl-2 ml-2 list-disc
}

.coursePageContainer ol {
  @apply py-1 text-secondary-content pl-2 ml-2 list-decimal
}

.coursePageContainer li {
  @apply py-1 text-secondary-content pl-2 ml-2
}

.coursePageContainer a {
  @apply font-semibold text-blue-800 hover:text-blue-700
}

.coursePageContainer table {
  @apply border border-accent
}

.coursePageContainer th {
  @apply border border-accent p-2
}

.coursePageContainer td {
  @apply border border-accent p-2
}

.coursePageContainer code {
  @apply p-[1px] bg-primary text-primary-content rounded-sm
}

.coursePageContainer blockquote {
  @apply bg-gray-300 p-3 border-l-[15px] border-info
}

.coursePageContainer .slt {
  @apply bg-primary text-primary-content font-bold text-lg mb-3 p-3 align-middle
}